{% extends "basic_app/base.html" %}
{% block body_block %}

<div class = "container">
    <div class = "jumbotron">
        <h1>Please Login</h1>
        <a href="{% url "basic_app:registration" %}">Click here to register</a>
        <form action="{% url "basic_app:user_login" %} " method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username" id="">
            <label for="password">Password: </label>
            <input type="password" name="password" id="">
            <input type="submit" value="Login">
        </form>
    </div>
</div>

{% endblock%}